<div class="container">
  <h1>Eat Da Burger App!</h1>

  <div class="row justify-content-center">

    <div class="col-md-6 not-devoured">
      <ul>
        {{#each burger}} 
        <li>
          <p>
            {{this.burger_name}}
            <button type="button" class="eat btn btn-light" data-burgerid="{{this.id}}">Devour It!</button>
          </p>
        </li>
        {{/each}}
      </ul>
    </div>
    
    <div class="col-md-6" id="devoured">

    </div>

  </div>
  <div class="row justify-content-center">
    <form>
      <div class="form-group">
        <label for="burger-text-area"></label>
        <textarea class="form-control" id="burger-text-area" rows="4"></textarea>
      </div>
      
    </form>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-light">Submit</button>
  </div>
</div>